*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body{
    background: #080808;
    color: #fff;
}


/* ................Home Section............. */

#home{
    width: 100%;
    height: 100vh;

}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 5%;
}

nav .logo{
    cursor: pointer;
}

nav .logo h1{
    font-size: 50px;
    color: #3d79f2;
    margin-bottom: 12px;
}

nav .logo h1 span{
    color: #fff;
}

nav .logo p{
    font-size: 25px;
    font-weight: 400;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #3d79f2;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-text{
    flex-basis: 50%;
    line-height: 35px;
}

.home-text p{
    font-size: 20px;
    font-weight: 200;
    margin: 15px 0;
}

.home-text h1{
    font-size: 50px;
    padding: 10px 0;
}

.home-text h1 span{
    color: #3d79f2;
}

.home-img{
    flex-basis: 45%;
}


.home-img img{
    width: 100%;
    border-radius: 10px;
}

/* ................About Section............. */
#about{
    padding: 80px 0;
    color: #ababab;
    display: flex;
}

.sub-title{
    font-size: 50px;
    color: #3d79f2;
}

.about-sect{
    display: flex;

}

.about-1{
    flex-basis: 45%;
}

.about-1 img{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0px;
}

.about-2{
    flex-basis: 60%;
    margin-left: 45px;
    align-self: center;
  
}

.about-2 p{
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 27px;
}

.about-2 table{
    width: 100%;
    margin-top: 30px;
}

table, th, td {
    border: 1px solid #3d79f2;
}

  th{
    padding: 20px;
    transition: 0.25s;
    cursor: pointer;
  }

  th:hover{
    color: #77a0f2;
  }

  td{
    padding: 15px;
  }


/* ................Work Section............. */

#work{
    padding: 30px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proj{
    flex-basis: 42.5%;
    margin: 30px 15px;
    position: relative;
}

.proj img{
    width: 300px;
    border-radius: 15px;
}

.proj h1{
    margin: 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.proj .note{
    display: none;
    position: absolute;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #3d79f2);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.proj:hover .note{
    display: flex;
}

/* ................Contact Section............. */
#contacts{
    padding: 30px 0;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact h1{
    margin-bottom: 20px;
}

.contact p{
    padding: 25px 0;
}

.contact i{
    font-size: 30px;
    color: #3d79f2;
    margin-right: 30px;
    transition: 0.25s;
}

.social-icons{
    padding-top: 15px;
}
.social-icons i{
    color: #fff;
}

.social-icons i:hover{
    color: #3d79f2;
    transform: translateY(-5px);
}



.send-message h2{
    margin: 20px 0;
    font-size: 25px;
}

form input,form textarea{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #262626;
    color: #fff;
}

.btn1{
    border: none;
    width: 100px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

/* ...........resume............... */
#resume a{
    text-decoration: none;
    color: #000;
}

.btn{
   background-color: #3d79f2;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.btn:hover{
    background-color: #0540f2;
}

/* ................footer............. */
footer{
    text-align: center;
    background-color: #262626;
    padding: 20px 0;
}

footer h3 {
    font-size: 18px;
}
footer h3 i{
    color:#3d79f2;
}